<component name="ArtifactManager">
  <artifact type="war" name="SpringBootCRUD:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringBootCRUD.war">
      <element id="artifact" artifact-name="SpringBootCRUD:war exploded" />
    </root>
  </artifact>
</component>